arcolinux-welcome-app/
autostart/
BetterDiscord/
BetterDiscordInstaller/
Code/
dconf/
discord/
chromium/
dleyna-server-service.conf
evolution/
fontconfig/
foot/
galculator/
gconf/
goa-1.0
google-chrome/
ibus/
kritadisplayrc
kritarc
Kvantum/
libreoffice/
matplotlib/
menus/
micro/
mimeapps.list
nano/
nomacs/
notion-app/
opera/
pamac/
paru/
pavucontrol.ini
pulse/
qt5ct/
QtProject.conf
spotify/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
variety/
volumeicon/
yad.conf
yay/
